/* line 1, ../stylesheets/base/_buttons.scss */
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 22, ../stylesheets/base/_buttons.scss */
button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
  background-color: #11519a;
  color: #fff;
}
/* line 28, ../stylesheets/base/_buttons.scss */
button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 32, ../stylesheets/base/_buttons.scss */
button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #1565c0;
}

/* line 1, ../stylesheets/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, ../stylesheets/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

/* line 14, ../stylesheets/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

/* line 20, ../stylesheets/base/_forms.scss */
input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
}

/* line 28, ../stylesheets/base/_forms.scss */
[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
/* line 40, ../stylesheets/base/_forms.scss */
[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}
/* line 44, ../stylesheets/base/_forms.scss */
[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none;
}
/* line 50, ../stylesheets/base/_forms.scss */
[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
/* line 54, ../stylesheets/base/_forms.scss */
[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}
/* line 59, ../stylesheets/base/_forms.scss */
[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

/* line 64, ../stylesheets/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 68, ../stylesheets/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 74, ../stylesheets/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 79, ../stylesheets/base/_forms.scss */
select {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 1, ../stylesheets/base/_layout.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../stylesheets/base/_layout.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 11, ../stylesheets/base/_layout.scss */
html,
body {
  height: 100%;
  margin: 0;
}

/* line 1, ../stylesheets/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, ../stylesheets/base/_lists.scss */
dl {
  margin: 0;
}

/* line 12, ../stylesheets/base/_lists.scss */
dt {
  font-weight: 600;
  margin: 0;
}

/* line 17, ../stylesheets/base/_lists.scss */
dd {
  margin: 0;
}

/* line 1, ../stylesheets/base/_media.scss */
figure {
  margin: 0;
}

/* line 5, ../stylesheets/base/_media.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 1, ../stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, ../stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

/* line 20, ../stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, ../stylesheets/base/_typography.scss */
body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 8, ../stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

/* line 20, ../stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 24, ../stylesheets/base/_typography.scss */
a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease;
}
/* line 29, ../stylesheets/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #104c90;
}

/* line 36, ../stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 1, ../stylesheets/jen/_layout.scss */
.grid {
  background-image: linear-gradient(to right, rgba(0, 212, 255, 0.25), rgba(0, 212, 255, 0.25) 20px, transparent 20px, transparent calc(8.3333333333% - 21.6666666667px + 20px), rgba(0, 212, 255, 0.25) calc(8.3333333333% - 21.6666666667px + 20px), rgba(0, 212, 255, 0.25) calc(8.3333333333% - 21.6666666667px + 20px + 20px), transparent calc(8.3333333333% - 21.6666666667px + 20px + 20px), transparent calc(16.6666666667% - 23.3333333333px + 20px), rgba(0, 212, 255, 0.25) calc(16.6666666667% - 23.3333333333px + 20px), rgba(0, 212, 255, 0.25) calc(16.6666666667% - 23.3333333333px + 20px + 20px), transparent calc(16.6666666667% - 23.3333333333px + 20px + 20px), transparent calc(25% - 25px + 20px), rgba(0, 212, 255, 0.25) calc(25% - 25px + 20px), rgba(0, 212, 255, 0.25) calc(25% - 25px + 20px + 20px), transparent calc(25% - 25px + 20px + 20px), transparent calc(33.3333333333% - 26.6666666667px + 20px), rgba(0, 212, 255, 0.25) calc(33.3333333333% - 26.6666666667px + 20px), rgba(0, 212, 255, 0.25) calc(33.3333333333% - 26.6666666667px + 20px + 20px), transparent calc(33.3333333333% - 26.6666666667px + 20px + 20px), transparent calc(41.6666666667% - 28.3333333333px + 20px), rgba(0, 212, 255, 0.25) calc(41.6666666667% - 28.3333333333px + 20px), rgba(0, 212, 255, 0.25) calc(41.6666666667% - 28.3333333333px + 20px + 20px), transparent calc(41.6666666667% - 28.3333333333px + 20px + 20px), transparent calc(50% - 30px + 20px), rgba(0, 212, 255, 0.25) calc(50% - 30px + 20px), rgba(0, 212, 255, 0.25) calc(50% - 30px + 20px + 20px), transparent calc(50% - 30px + 20px + 20px), transparent calc(58.3333333333% - 31.6666666667px + 20px), rgba(0, 212, 255, 0.25) calc(58.3333333333% - 31.6666666667px + 20px), rgba(0, 212, 255, 0.25) calc(58.3333333333% - 31.6666666667px + 20px + 20px), transparent calc(58.3333333333% - 31.6666666667px + 20px + 20px), transparent calc(66.6666666667% - 33.3333333333px + 20px), rgba(0, 212, 255, 0.25) calc(66.6666666667% - 33.3333333333px + 20px), rgba(0, 212, 255, 0.25) calc(66.6666666667% - 33.3333333333px + 20px + 20px), transparent calc(66.6666666667% - 33.3333333333px + 20px + 20px), transparent calc(75% - 35px + 20px), rgba(0, 212, 255, 0.25) calc(75% - 35px + 20px), rgba(0, 212, 255, 0.25) calc(75% - 35px + 20px + 20px), transparent calc(75% - 35px + 20px + 20px), transparent calc(83.3333333333% - 36.6666666667px + 20px), rgba(0, 212, 255, 0.25) calc(83.3333333333% - 36.6666666667px + 20px), rgba(0, 212, 255, 0.25) calc(83.3333333333% - 36.6666666667px + 20px + 20px), transparent calc(83.3333333333% - 36.6666666667px + 20px + 20px), transparent calc(91.6666666667% - 38.3333333333px + 20px), rgba(0, 212, 255, 0.25) calc(91.6666666667% - 38.3333333333px + 20px), rgba(0, 212, 255, 0.25) calc(91.6666666667% - 38.3333333333px + 20px + 20px), transparent calc(91.6666666667% - 38.3333333333px + 20px + 20px), transparent calc(100% - 20px), rgba(0, 212, 255, 0.25) calc(100% - 20px), rgba(0, 212, 255, 0.25) calc(100%));
}
@media (max-width: 768px) {
  /* line 25, ../stylesheets/neat/neat/mixins/_grid-container.scss */
  .grid::after {
    clear: both;
    content: "";
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  /* line 25, ../stylesheets/neat/neat/mixins/_grid-container.scss */
  .grid::after {
    clear: both;
    content: "";
    display: block;
  }
}
/* line 13, ../stylesheets/jen/_layout.scss */
.grid__column {
  width: calc(8.3333333333% - 21.6666666667px);
  float: left;
  margin-left: 20px;
}
/* line 17, ../stylesheets/jen/_layout.scss */
.grid__column--2 {
  width: calc(16.6666666667% - 23.3333333333px);
  float: left;
  margin-left: 20px;
}
/* line 20, ../stylesheets/jen/_layout.scss */
.grid__column--2-push-1 {
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px);
}
/* line 25, ../stylesheets/jen/_layout.scss */
.grid__column--thirds {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px;
}
/* line 29, ../stylesheets/jen/_layout.scss */
.grid--rtl__column--thirds {
  width: calc(33.3333333333% - 26.6666666667px);
  float: right;
  margin-right: 20px;
}
/* line 33, ../stylesheets/jen/_layout.scss */
.grid__column--4 {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px;
}
/* line 37, ../stylesheets/jen/_layout.scss */
.grid__column--8 {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
}
/* line 41, ../stylesheets/jen/_layout.scss */
.grid__column--10 {
  width: calc(83.3333333333% - 36.6666666667px);
  float: left;
  margin-left: 20px;
}
/* line 45, ../stylesheets/jen/_layout.scss */
.grid__column--full {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}
/* line 49, ../stylesheets/jen/_layout.scss */
.grid__column--4-of-12 {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px;
}
/* line 53, ../stylesheets/jen/_layout.scss */
.grid__column--6-of-12 {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}
/* line 57, ../stylesheets/jen/_layout.scss */
.grid__column--8-of-12 {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
}

/* line 1, ../stylesheets/jen/_modifiers.scss */
.centered {
  text-align: center;
}

/* line 3, ../stylesheets/jen/home/_about.scss */
.home .about-container__content {
  display: flex;
}
/* line 6, ../stylesheets/jen/home/_about.scss */
.home .about-container__content--item {
  flex: 1 1 50%;
  background-color: red;
}

/* line 3, ../stylesheets/jen/home/_content.scss */
.home .full-container .grid__column--8-of-12 {
  margin-left: calc(16.6666666667% - 23.3333333333px + 40px);
}
/* line 7, ../stylesheets/jen/home/_content.scss */
.home .full-container .grid__column--4-of-12 {
  margin-left: calc(33.3333333333% - 26.6666666667px + 40px);
}
/* line 17, ../stylesheets/jen/home/_content.scss */
.home .half-container .grid__column--6-of-12 {
  margin-left: calc(25% - 25px + 40px);
}

/* line 2, ../stylesheets/jen/home/_header.scss */
.home .banner-container {
  color: #fff;
  background-image: url("../images/lake-tahoe-2-1200x675.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
}
@media only screen and (min-width: 768px) {
  /* line 2, ../stylesheets/jen/home/_header.scss */
  .home .banner-container {
    height: 30rem;
  }
}
/* line 14, ../stylesheets/jen/home/_header.scss */
.home .banner-container__search {
      /*
      input {
        float: left;
      }

      input[type=text] {
        width: 70%;
      }

      input[type=submit] {
        width: 30%;
      }
      */
}
/* line 15, ../stylesheets/jen/home/_header.scss */
.home .banner-container__search--content {
  width: calc(100% - 1rem);
  float: left;
  margin-left: 0.5rem;
}
@media only screen and (min-width: 768px) {
  /* line 15, ../stylesheets/jen/home/_header.scss */
  .home .banner-container__search--content {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    margin-left: calc(25% - 25px + 40px);
  }
}

/* line 2, ../stylesheets/jen/home/_location.scss */
.home .location-container {
  width: calc(100% - 1rem);
  float: left;
  margin-left: 0.5rem;
}
/* line 5, ../stylesheets/jen/home/_location.scss */
.home .location-container__hero {
  padding: 1rem;
  background-color: #ddd;
}
/* line 10, ../stylesheets/jen/home/_location.scss */
.home .location-container__locations {
  display: flex;
}
/* line 13, ../stylesheets/jen/home/_location.scss */
.home .location-container__locations--item {
  flex: 1 1 33%;
  background-color: red;
}

/* line 2, ../stylesheets/jen/home/_slideshow.scss */
.home .slideshow-container {
  width: calc(100% - 1rem);
  float: left;
  margin-left: 0.5rem;
}

/* line 1, ../stylesheets/jen/modules/_footer.scss */
footer {
  background-color: #fff;
}
/* line 4, ../stylesheets/jen/modules/_footer.scss */
footer .explore {
  display: flex;
}
/* line 7, ../stylesheets/jen/modules/_footer.scss */
footer .explore__item {
  flex: 1 1 50%;
}
/* line 10, ../stylesheets/jen/modules/_footer.scss */
footer .explore__item a {
  width: 100%;
  display: block;
}

/* line 2, ../stylesheets/jen/modules/_header.scss */
.banner-container__nav {
  padding-top: 1rem;
}
/* line 5, ../stylesheets/jen/modules/_header.scss */
.banner-container__nav-logo {
  width: calc(37.5% - 0.6875rem);
  float: left;
  margin-left: 0.5rem;
}
@media only screen and (min-width: 768px) {
  /* line 5, ../stylesheets/jen/modules/_header.scss */
  .banner-container__nav-logo {
    width: calc(16.6666666667% - 23.3333333333px);
    float: left;
    margin-left: 20px;
  }
}
/* line 15, ../stylesheets/jen/modules/_header.scss */
.banner-container__nav-menu {
  width: calc(62.5% - 0.8125rem);
  float: left;
  margin-left: 0.5rem;
  text-align: right;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  /* line 15, ../stylesheets/jen/modules/_header.scss */
  .banner-container__nav-menu {
    width: calc(83.3333333333% - 36.6666666667px);
    float: left;
    margin-left: 20px;
  }
}
/* line 25, ../stylesheets/jen/modules/_header.scss */
.banner-container__nav-menu a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 150ms ease;
}
/* line 31, ../stylesheets/jen/modules/_header.scss */
.banner-container__nav-menu a:active, .banner-container__nav-menu a:focus, .banner-container__nav-menu a:hover {
  color: #104c90;
}

/* line 3, ../stylesheets/jen/modules/_main_nav.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  background-color: #fff;
}

/* line 12, ../stylesheets/jen/modules/_main_nav.scss */
.header__logo {
  padding: 0 25px;
  float: left;
}

/* line 17, ../stylesheets/jen/modules/_main_nav.scss */
.site-content {
  padding-top: 66px;
}

/* MENU */
/* line 22, ../stylesheets/jen/modules/_main_nav.scss */
.menu {
  float: left;
}
/* line 25, ../stylesheets/jen/modules/_main_nav.scss */
.menu a {
  padding: 0 10px;
}
/* line 29, ../stylesheets/jen/modules/_main_nav.scss */
.menu a:hover {
  color: #c5cae9;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  /* line 36, ../stylesheets/jen/modules/_main_nav.scss */
  .menu-pusher,
  .site-container {
    height: 100%;
  }

  /* line 41, ../stylesheets/jen/modules/_main_nav.scss */
  .site-container {
    overflow: hidden;
  }

  /* line 45, ../stylesheets/jen/modules/_main_nav.scss */
  .menu-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px);
  }

  /* line 50, ../stylesheets/jen/modules/_main_nav.scss */
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  /* line 61, ../stylesheets/jen/modules/_main_nav.scss */
  .header {
    position: static;
  }

  /* line 65, ../stylesheets/jen/modules/_main_nav.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  /* line 73, ../stylesheets/jen/modules/_main_nav.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px #1565c0, 0 16px 0 1px #1565c0, 0 22px 0 1px #1565c0;
  }

  /* line 85, ../stylesheets/jen/modules/_main_nav.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f2f2f2;
    width: 250px;
    transform: translateX(-250px);
  }
  /* line 94, ../stylesheets/jen/modules/_main_nav.scss */
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #fff;
  }

  /* line 106, ../stylesheets/jen/modules/_main_nav.scss */
  .with--sidebar .menu-pusher {
    transform: translateX(250px);
  }
  /* line 110, ../stylesheets/jen/modules/_main_nav.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
